<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">
<body>

<div class="row">
    <div class="col-md-12">
        <h1> 사욱 펫 클리닉 입니다.</h1>
    </div>
    <div class="jumbotron">
        <p class="lead"> Owner Page </p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/owners/new"> Owner 가입 </a>
            <a class="btn btn-lg btn-secondary" href="/owners"> Owner 목록 </a>
        </p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/doctor/new"> Doctor 등록 </a>
            <a class="btn btn-lg btn-secondary" href="/doctors"> Doctor 목록 </a>
        </p>

        <p>
            <a class="btn btn-lg btn-secondary" href="/reserve/new"> 예약 하기 </a>
            <a class="btn btn-lg btn-secondary" href="/reserves"> 예약 내역 </a>
        </p>
    </div>
</div>

</body>

</html>